# restaurant-pos-frontend
restaurant-pos-frontend/node_modules
restaurant-pos-frontend/.next
restaurant-pos-frontend/.env*
restaurant-pos-frontend/.DS_Store

# restaurant-pos-backend
restaurant-pos-backend/target
restaurant-pos-backend/.env*
restaurant-pos-backend/.DS_Store

# General
.DS_Store
.idea/
untitled/.gradle/8.12/gc.properties
untitled/.gradle/8.12/checksums/checksums.lock
untitled/.gradle/8.12/executionHistory/executionHistory.lock
untitled/.gradle/8.12/fileChanges/last-build.bin
untitled/.gradle/8.12/fileHashes/fileHashes.lock
untitled/.gradle/buildOutputCleanup/buildOutputCleanup.lock
untitled/.gradle/buildOutputCleanup/cache.properties
untitled/.gradle/vcs-1/gc.properties
